---
import { Image } from "astro:assets";

import img_eepyFox from "../../.img/eepyfomx.png";
import img_foregroundrock from "../../.img/background/foregroundrock.png";
import img_midground_top from "../../.img/background/midground_top.png";
import img_midground from "../../.img/background/midground.png";
import img_bgf_trees from "../../.img/background/bg_f_trees.png";
import img_bgf_mountains from "../../.img/background/bg_f_mountains.png";


---
<div class="landing-background" style="--paralax-modifier: 100000px;">
    <div class="eepy-fomx-container">
        <div class="eepy-fomx-vertical">
            <Image src={img_eepyFox} alt="eepy fomx" class="eepy-fomx bimg" loading="eager" id="landingfox">
        </div>
    </div>
    <div class = "grounds-container">
        <div class="grounds-wrapper">   
            <Image alt="" src={img_foregroundrock} quality={"high"} class="foreground bbimg" loading="eager" id="landingimageloadcheckid"/>
            <Image alt="" src={img_midground} quality={"high"} class="midground bbimg" loading="eager" id="landingimageloadcheckid"/>
            <Image alt="" src={img_bgf_trees} quality={"mid"} class="bg-f-trees bbimg" loading="eager" id="landingimageloadcheckid"/>
            <Image alt="" src={img_bgf_mountains} quality={"mid"} class="bg-f-mountains bbimg" loading="eager" id="landingimageloadcheckid"/>
        </div>
    </div>
    <div class="skygradient"/>
</div>
<script>
    const groundsContainer: HTMLDivElement = document.querySelector(".grounds-wrapper")!;
    const skygradient: HTMLDivElement = document.querySelector(".skygradient")!;
    let loaded = false;
    groundsContainer.style.opacity = skygradient.style.opacity = "0";
    groundsContainer.style.transition = skygradient.style.transition = "opacity ease-out 1s";
    function handleImageLoad() {
        const images: HTMLImageElement[] = Array.from(document.querySelectorAll('#landingimageloadcheckid'));
        const complete = images.map(e=>() => {return e.complete;}).every(Boolean);
        if (complete && !loaded) {
            loaded = true;
            window.removeEventListener('load', handleImageLoad);
            setTimeout(()=>{
                groundsContainer.style.display = "";
                groundsContainer.style.opacity = "1";
                skygradient.style.opacity = "1";
            },50);
        }
    }
    window.addEventListener('load', () => {
        handleImageLoad();
    });
</script>
<style>
    .bimg {
        width: inherit;
        height: inherit;
        position: relative;
    }
    .bbimg {
        width: auto;
        height: auto;
        position: relative;
        flex-shrink: 0;
        object-fit: contain;
    }
    @media (min-aspect-ratio: 16/9) {
        .bbimg {
            width: 100vw;
            height: auto;
        }
    }

    @media (max-aspect-ratio: 16/9) {
        .bbimg {
            width: auto;
            height: var(--landing-height);
        }
    }
    .foreground {
        --paralax-speed: 0.6;
        transform: translateY(calc((var(--scroll-y) * 0.6)));
        z-index: 200;
    }
    .midground {
        --paralax-speed: 0.6;
        --layer: -100%;
        transform: translateY(calc(-100% + (var(--scroll-y) * 0.9)));
        z-index: -101;
    }
    .bg-f-trees {
        --paralax-speed: 0.6;
        --layer: -300%;
        transform: translateY(calc(-200% + (var(--scroll-y) * 0.93)));
        z-index: -105;
    }
    .bg-f-mountains {
        --paralax-speed: 0.96;
        --layer: -400%;
        transform: translateY(calc(-300% + (var(--scroll-y) * 0.96)));
        z-index: -110;
    }
    .skygradient {
        width: 200%;
        height: 200vh;
        background: rgb(36,157,239);
        transform: translateY(calc(-1% + (var(--scroll-y) * 0.96)));
        background: linear-gradient(180deg, rgb(35, 167, 255) 0%, rgb(255, 255, 255) 100%);
        z-index: -500;
        opacity: 0;
        position: relative;
    }
    .eepy-fomx {
        z-index: -80;
    }
    .grounds-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100vw;
        height: var(--landing-height);
        position: absolute;
        overflow: hidden;
    }
    .grounds-wrapper {
        width: 100vw;
        height: var(--landing-height);
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        z-index: -300;
    }
    .landing-background {
        width: 100vw;
        height: var(--landing-height);
		background-color: #000000;
        z-index:-100;
        transform: translateY(calc(var(--landing-height) * -1));
        position: relative;
    }
    .eepy-fomx-container {
        position: absolute;
        height: var(--landing-height);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: min(60vw);
        transform: translateY(calc((var(--scroll-y) * 0.7)));
    }
    .eepy-fomx-vertical {
        width: auto;
        height: 105vh;
        aspect-ratio: 1 / 1;
        flex-shrink: 0;
        object-fit: contain;
    }
</style>